{
  "printWidth": 120,
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "packages/canvas/commands/Commands/**/*.js",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
